/* Estilo para el contenedor y el texto */
#linkAtractivos {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../images/atractivos/atractivos.webp') center/cover no-repeat fixed;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* Overlay negro con transparencia, pero sin tapar el contenido */
#linkAtractivos::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 49, 49, 0.8);
    z-index: -1;
}

/* Título dentro de .boxAtractivos */
.boxAtractivos h3 {
    font-size: var(--fontsize-big);
    text-align: center;
    letter-spacing: .4rem;
    margin-bottom: 80px;
    color: var(--secondary);
    position: relative;
    z-index: 3;
}

/* Resto de los estilos para los elementos, como las cards */
.boxAtractivos .swiper-slide {
    z-index: 3;
    /* Asegura que las cards estén sobre el overlay */
}

.boxAtractivos .cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    padding: 16px;
}

@media (max-width: 1024px) {
    .boxAtractivos .cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .boxAtractivos .cards-container {
        grid-template-columns: 1fr;
    }
}

.boxAtractivos .card-details {
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
    position: relative;
    z-index: 1;
}

/*Text*/
.boxAtractivos .text-title {
    text-align: center;
    padding: 0 50px;
    font-size: var(--fontsize-semibig);
    font-weight: bold;
    color: var(--secondary);
    text-shadow: 0 1px 20px rgba(0, 0, 0, 1) !important;
    position: relative;
    z-index: 1;
}

.boxAtractivos .card {
    margin: 1rem 0;
    border-radius: .5rem;
    background: var(--secondary);
    position: relative;
    border: 2px solid var(--primary-dark);
    transition: 0.5s ease-out;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15), 0 1px 4px rgba(36, 49, 49, 0.8);

}

/*Hover*/
.boxAtractivos .card:hover {
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.35), 0 4px 12px rgba(0, 0, 0, 0.2);

}

.boxAtractivos .card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
}

/* Imagen de fondo con overlay oscuro */
.boxAtractivos .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: transform 0.5s ease-out;
}

.boxAtractivos .card.card-1::before {
    background: linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)), url('../images/atractivos/plaza/image01.webp') center/cover no-repeat;
}

.boxAtractivos .card.card-2::before {
    background: linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)), url('../images/atractivos/iglesia/image01.webp') center/cover no-repeat;
}

.boxAtractivos .card.card-3::before {
    background: linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)), url('../images/atractivos/rio/image01.webp') center/cover no-repeat;
}

.boxAtractivos .card.card-4::before {
    background: linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)), url('../images/atractivos/parque/image01.webp') center/cover no-repeat;
}

.boxAtractivos .card.card-5::before {
    background: linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)), url('../images/atractivos/murales/jukumari/image01.webp') center/cover no-repeat;
}

.boxAtractivos .card.card-6::before {
    background: linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)), url('../images/atractivos/mirador/image01.webp') center/cover no-repeat;
}

.boxAtractivos .card.card-7::before {
    background: linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)), url('../images/atractivos/rutacafe/image01.webp') center/cover no-repeat;
}

.boxAtractivos .card.card-8::before {
    background: linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)), url('../images/atractivos/artecampo/image01.webp') center/cover no-repeat;
}

.boxAtractivos .card.card-9::before {
    background: linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)), url('../images/atractivos/queseria/image01.webp') center/cover no-repeat;
}

.boxAtractivos .card:hover::before {
    transform: scale(1.05);
}

.boxAtractivos .card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 0;
    transition: transform 0.5s ease-out;
}

.boxAtractivos .card:hover::after {
    transform: scale(1.05);
}

/* Asegurar que el contenido esté sobre la imagen */
.boxAtractivos .card-details,
.boxAtractivos .card-button {
    position: relative;
    z-index: 1;
}

@media (max-width: 530px) {
    .boxAtractivos .card {
        min-height: 200px;
    }
}

/* Estilos responsivos para Swiper sin romper el diseño actual */
.atractivos-swiper {
    /* box-shadow: 0 0px 10px rgba(36, 49, 49, .5); */
    height: 100vh;
    /* usa porcentaje del viewport */
    width: 100vw;
    /* usa porcentaje del viewport */
    max-width: 1140px;
    max-height: 600px;
    /* limita para pantallas muy grandes */
    display: flex;
    justify-content: center;
    align-items: center;
}

.atractivos-swiper .swiper-button-next, .atractivos-swiper .swiper-button-prev {
    color: var(--white);
}

/* Adaptar la altura en dispositivos más pequeños */
@media (max-width: 768px) {
    .atractivos-swiper {
        height: 400px;
    }
}

@media (max-width: 530px) {
    .atractivos-swiper {
        height: 350px;
    }
}

/* Asegura que el wrapper y slides usen el 100% del alto del swiper */
.atractivos-swiper .swiper-wrapper {
    height: 100%;
}

.atractivos-swiper .swiper-slide {
    height: 100%;
    display: flex;
    align-items: stretch;
    /* Estira la card a toda la altura */
}

.atractivos-swiper .swiper-pagination-bullet {
    margin-bottom: 20px !important;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 25px;
    font-size: 20px;
    color: #000;
    opacity: 1;
    background: var(--secondary);
    outline: 1px solid var(--primary);
    color: var(--primary);
}

.atractivos-swiper .swiper-pagination-bullet:hover {
    background-color: var(--primary);
    color: var(--white);
}

.atractivos-swiper .swiper-pagination-bullet-active {
    color: var(--white);
    background: var(--primary);
}

/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* Modal */
.modalAtractivo {
    display: none;
    position: fixed;
    z-index: 1100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(77, 107, 105, .9);
    overflow-y: auto;
    animation: fadeIn 0.4s ease-in-out;
}

/* Animación para el modal */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modalAtractivo .modalAtractivo-content {
    position: relative;
    background-color: var(--secondary);
    margin: auto;
    padding: 20px 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 1000px;
    /* menos ancho máximo para móviles */
    box-shadow: 0 4px 20px rgba(36, 49, 49, 1);
    box-sizing: border-box;
    color: var(--primary);
}

.modalAtractivo .modal-inner {
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 1024px) {
    .modalAtractivo .modal-inner {
        padding: 0;
    }
}

@media (max-width: 600px) {
    .modalAtractivo .modal-inner {
        padding: 0;
    }
}

.modalAtractivo #modalAtractivo-title {
    padding: 15px;
    font-size: var(--fontsize-big);
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
}

.modalAtractivo #modalAtractivo-description {
    font-size: var(--fontsize-medium);
    line-height: 1.6;
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
}

/* Estilos para las imágenes dentro del modal */
.modalAtractivo .modalAtractivo-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Imagen de las imágenes del modal */
.modalAtractivo .modalAtractivo-images img {
    width: 100%;
    max-width: 300px;
    aspect-ratio: 16 / 10;
    border-radius: 0px;
    object-fit: cover;
    height: auto;
    transition: filter 0.3s ease;
    filter: brightness(1);
    box-shadow: 0 5px 20px 2px rgba(36, 49, 49, .5);
}

/* Hover sobre las imágenes dentro del modal */
.modalAtractivo .modalAtractivo-images img:hover {
    filter: brightness(.9);
}

@media (max-width: 720px) {
    .modalAtractivo .modalAtractivo-images img {
        max-width: 100%;
        aspect-ratio: 16 / 10;
        height: auto;
    }
}

.modalAtractivo-footer {
    text-align: center;
    margin-bottom: 50px;
}

.modalAtractivo a.btn-map {
    display: block;
    width: 210px;
    height: auto;
    margin: 20px auto 20px auto;
    padding: 15px 24px;
    border: 1px solid var(--primary);
    box-shadow: 0 6px 15px rgba(36, 49, 49, 0.8);
    border-radius: 10px;
    background-color: var(--primary);
    color: var(--secondary);
    text-decoration: none;
    font-size: var(--fontsize-medium);
    font-weight: 600;
    text-align: center;
    transition: all 0.3s ease;
}

.modalAtractivo a.btn-map:hover {
    box-shadow: 0 6px 15px rgba(36, 49, 49, 1);
}

/* ============================================================================================= */
/* Botón de cierre */
.modalAtractivo .close {
    color: var(--primary);
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    z-index: 10;
    transition: all 0.3s;
}

.modalAtractivo .close:hover,
.modalAtractivo .close:focus {
    color: var(--primary-dark);
    text-decoration: none;
}

/* ============================================================================================= */
.modalAtractivo .mural-item {
    margin-bottom: 30px;
    border-bottom: 2px solid var(--primary-dark);
    padding-bottom: 20px;
}

.modalAtractivo .mural-title {
    font-size: var(--fontsize-medium);
    color: var(--primary);
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.modalAtractivo .mural-description {
    margin-bottom: 20px;
    font-size: var(--fontsize-medium);
    color: var(--dark);
}

.modalAtractivo .mural-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 40px;
    box-shadow: 0 5px 20px 2px rgba(77, 107, 105, 1);
}

.modalAtractivo .mural-image {
    flex: 1 1 300px;
    max-width: 100%;
    height: auto;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(77, 107, 105, 0.1);
    object-fit: cover;
}


.modalAtractivo .mural-location a {
    display: block;
    width: 210px;
    height: 64px;
    margin: 20px auto 0 auto;
    padding: 10px 20px;
    outline: 2px dashed var(--primary);
    background-color: var(--secondary);
    color: var(--primary);
    text-decoration: none;
    border-radius: 8px;
    font-size: var(--fontsize-medium);
    font-weight: bold;
    text-align: center;
    transition: all 0.3s ease;
    border-bottom: 10px;
}

.modalAtractivo .mural-location a:hover {
    outline: 2px solid var(--primary);
}