.boxComoLlegar {
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--chalk-beige);
    color: var(--dark) !important;
}

.boxComoLlegar h2 {
    font-size: var(--fontsize-big);
    margin-bottom: 20px;
    letter-spacing: .4rem;

}

.boxComoLlegar .sub {
    font-size: var(--fontsize-medium);
    margin-bottom: 50px;
}

.boxComoLlegar .info-grid {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.boxComoLlegar .info-card {
    background: var(--secondary);
    outline: 5px double var(--primary) !important;
    border: none;
    padding: 25px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(77, 107, 105, 0.1);
    transition: transform 0.3s ease;
}

.boxComoLlegar .info-card:hover {
    box-shadow: 0 4px 10px rgba(77, 107, 105, 0.5);
}

.boxComoLlegar .info-card p i, .boxComoLlegar .info-card p span {
    font-size: var(--fontsize-standard);
}

.boxComoLlegar .label {
    color: var(--dark);
}

.boxComoLlegar .value {
    font-size: var(--fontsize-medium);
    color: var(--dark);
}

.boxComoLlegar .value strong {
    color: var(--primary);
}


.boxComoLlegar .precio-card p.precio {
    font-size: var(--fontsize-medium);
    font-weight: bold;
    color: var(--primary);
}

.boxComoLlegar .precio-card .precio span {
    font-size: var(--fontsize-bigger);
    font-weight: normal;
}

.boxComoLlegar .map-btn {
    display: block;
    width: 210px;
    height: auto;
    margin: 20px auto 50px auto;
    padding: 15px 24px;
    border: 1px solid var(--primary);
    box-shadow: 0 6px 15px rgba(36, 49, 49, 0.8);
    border-radius: 10px;
    background-color: var(--primary);
    color: var(--secondary);
    text-decoration: none;
    font-size: var(--fontsize-medium);
    font-weight: 600;
    text-align: center;
    transition: all 0.3s ease;
}

.boxComoLlegar a {
    color: var(--white);
}

.boxComoLlegar a:hover, .boxComoLlegar a+i:hover {
    box-shadow: 0 6px 15px rgba(36, 49, 49, 1);
}