#linkHoteleria {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/hoteleria/hoteleria.webp');
    background-position: 50% 100%;
    /* Centrado horizontal y al final vertical */
    background-size: cover;
    /* Cubre toda el área sin distorsionar la imagen */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    background-attachment: fixed;
    /* La imagen permanece fija mientras haces scroll */

    z-index: 1;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Overlay negro con transparencia */
#linkHoteleria::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 49, 49, 0.8);
    z-index: -1;
    /* Asegura que el overlay esté por debajo del contenido */
}


/* Estilo de la caja principal */
.boxHoteleria {
    position: relative;
    z-index: 2;
    background: var(--white);
    padding: 60px 20px;
    text-align: center;
}

/* Estilos del título */
.boxHoteleria h3 {
    font-size: var(--fontsize-big);
    text-align: center;
    letter-spacing: .4rem;
    margin-bottom: 80px;
    color: var(--secondary);
    position: relative;
    z-index: 3;
}

/* Estilos de los botones de filtro */
.filter-buttons {
    margin: 0 auto 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    max-width: 100%;
}

.boxHoteleria .filter-buttons button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    outline: 1px solid var(--primary);
    background-color: var(--secondary);
    color: var(--primary);
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: var(--fontsize-medium);
}

.filter-buttons button:hover {
    outline: 1px solid var(--secondary);
    background-color: var(--primary);
    color: var(--white);
}

.filter-buttons button.active {
    outline: 1px solid var(--secondary);
    background-color: var(--primary-dark);
    color: var(--secondary);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    animation: pulse 0.2s ease;
}

/* Animación de pulsado */
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/* Estilos de las cards */
#linkHoteleria .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

#linkHoteleria .card {
    position: relative;
    background-size: cover;
    background-position: center;
    background-color: var(--secondary) !important;
    border: 5px solid var(--secondary);
    box-shadow: 0 4px 20px rgba(77, 107, 105, 0.7);
    border-radius: 12px;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 300px;
    /* Puedes usar aspect-ratio si prefieres */
    transition: transform 0.6s ease, opacity 0.6s ease;
    overflow: hidden;
}

#linkHoteleria .card:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

/* Mejoras para pantallas pequeñas */
@media (max-width: 600px) {
    #linkHoteleria .cards {
        grid-template-columns: 1fr;
        /* una columna */
    }

    #linkHoteleria .card {
        height: 250px;
        /* más compacto en móviles */
    }
}

/* Pantallas muy pequeñas (como celulares pequeños) */
@media (max-width: 400px) {
    #linkHoteleria .card {
        height: 180px;
        font-size: 0.85rem;
    }
}

/* Fondo específico por card */
#linkHoteleria .card.card-1 {
    background-image: url('../images/hoteleria/alejados/01/image01.webp');
}

#linkHoteleria .card.card-2 {
    background-image: url('../images/hoteleria/alejados/02/image04.webp');
}

#linkHoteleria .card.card-3 {
    background-image: url('../images/hoteleria/cerca/03/image01.webp');
}

#linkHoteleria .card.card-4 {
    background-image: url('../images/hoteleria/cerca/04/image03.webp');
}

#linkHoteleria .card.card-5 {
    background-image: url('../images/hoteleria/cerca/05/image01.webp');
}

#linkHoteleria .card.card-6 {
    background-image: url('../images/hoteleria/cerca/06/image02.webp');
}

#linkHoteleria .card.card-7 {
    background-image: url('../images/hoteleria/cerca/07/image02.webp');
}

#linkHoteleria .card.card-8 {
    background-image: url('../images/hoteleria/cabanas/08/image01.webp');
}

#linkHoteleria .card.card-9 {
    background-image: url('../images/hoteleria/cabanas//09/image01.webp');
}

#linkHoteleria .card.card-10 {
    background-image: url('../images/hoteleria/cabanas/10/image01.webp');
}

/* Estilos del overlay en las cards */
#linkHoteleria .card-overlay {
    background: rgba(0, 0, 0, 0.6);
    padding: 1rem;
    width: 100%;
    text-align: center;
    /* Centrado vertical y horizontal del contenido */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centra el contenido horizontalmente */
    justify-content: center;
    /* Centra el contenido verticalmente */
    height: 100%;
    position: absolute;
    top: 0%;
    /* Centrado verticalmente (50% - 25% = 25% arriba de la mitad) */
    transition: all 0.5s ease;
    cursor: pointer;
}

/* Efecto hover: ampliamos el overlay y cambiamos la opacidad */
#linkHoteleria .card:hover .card-overlay {
    background: rgba(0, 0, 0, 0.2);
    /* Oscurecer el fondo */
    height: 100%;
    top: 0;
    /* Expande el overlay para cubrir más área */
    transform: scale(1.05);
    /* Efecto de expansión */
}

#linkHoteleria .card:hover .card-overlay h4 {
    /* color: transparent; */
    font-size: 1.6rem;
    filter: blur(2px);
}

/* Estilo del título dentro de las cards */
#linkHoteleria .card h4 {
    /* margin: 0 0 0.5rem; */
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 1) !important;
    /* Asegúrate de que el texto sea blanco para resaltar sobre el fondo oscuro */
}

/* Opcional: si quieres que los textos dentro del overlay tengan un espaciado más equilibrado, puedes añadir estos estilos */
#linkHoteleria .card-overlay p {
    font-size: 1rem;
    color: white;
    margin-top: 0.5rem;
}




/* Estilos de la sección de "Ver más" */
.boxHoteleria .btn-more {
    width: fit-content;
    display: block;
    margin: 20px auto 0 auto;
    padding: 12px 24px;
    border: none;
    background: transparent;
    color: inherit;
    font-size: 1.4rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: var(--secondary) !important;

}

/* Responsive ajustes */
@media (max-width: 768px) {
    .boxHoteleria {
        padding: 30px 15px;
    }

    .boxHoteleria .card {
        height: 250px;
    }

    .boxHoteleria .filter-buttons button {
        font-size: 0.9rem;
        padding: 0.4rem 0.8rem;
    }
}

@media (max-width: 480px) {
    .boxHoteleria .card {
        height: 220px;
    }

    .boxHoteleria .filter-buttons {
        gap: 0.3rem;
    }

    .boxHoteleria .filter-buttons button {
        font-size: 0.85rem;
        padding: 0.35rem 0.7rem;
    }
}



/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* Modal */
.modalHoteleria {
    display: none;
    position: fixed;
    z-index: 1100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 49, 49, .9);
    overflow-y: auto;
    animation: fadeIn 0.4s ease-in-out;
}


/* Animación para el modal */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modalHoteleria .modalHoteleria-content {
    position: relative;
    background-color: var(--secondary);
    margin: auto;
    padding: 20px 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 1000px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    color: var(--primary);
}

.modalHoteleria .modal-inner {
    text-align: center;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 1024px) {
    .modalHoteleria .modal-inner {
        padding: 0;
    }
}

@media (max-width: 600px) {
    .modalHoteleria .modal-inner {
        padding: 0;
    }
}

/* ============================================================================================= */
.modalHoteleria #modalHoteleria-title {
    color: var(--primary);
    padding: 15px;
    font-size: var(--fontsize-big);
    text-align: center;
    margin: 15px 0;
    font-weight: bold;
}

/* ============================================================================================= */
/* RESERVATIONS */
.modalHoteleria #modalHoteleria-reservations {
    border: 10px double var(--primary);
    color: var(--primary);
    font-size: var(--fontsize-medium);
    line-height: 1.6;
    margin-bottom: 20px;
}

.modalHoteleria #modalHoteleria-reservations .reservation-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

.modalHoteleria .reservation-container .fixed-container {
    outline: none;
    /* border-right: 10px double var(--primary); */
    flex: 1;
    /* Toma el 50% del espacio disponible */
    height: 100%;
}

.modalHoteleria .mobile-container, .modalHoteleria .fixed-container {
    border-radius: 2px;
}

.modalHoteleria .mobile-container {
    flex: 1;
    /* Toma el 50% del espacio disponible */
}

.modalHoteleria .mobile-container strong, .modalHoteleria .fixed-container strong {
    font-size: var(--fontsize-medium);
}

/* Estilo para los textos de los números */
.modalHoteleria #modalHoteleria-reservations a, .modalHoteleria #modalHoteleria-reservations p {
    font-size: var(--fontsize-medium) !important;
    line-height: 1.6;
}

/* Estilo para el ícono de WhatsApp */
#modalHoteleria-reservations .sn-whatsapp {
    margin: none;
    color: #128c7e;
    font-size: var(--fontsize-big);
}

/* MEDIA QUERY PARA PANTALLAS PEQUEÑAS (Móviles) */
@media (max-width: 768px) {
    .modalHoteleria .reservation-container {
        flex-direction: column;
        /* Cambiar a columna para pantallas pequeñas */
        gap: 15px;
        /* Reducir el espacio entre los bloques */
    }

    .modalHoteleria .fixed-container, .modalHoteleria .mobile-container {
        flex: none;
        /* Deja que los contenedores tomen el 100% del ancho disponible */
    }

    /* Ajustar el tamaño de fuente para pantallas pequeñas */
    .modalHoteleria #modalHoteleria-reservations {
        font-size: 1.2rem;
    }

    .modalHoteleria #modalHoteleria-reservations a, .modalHoteleria #modalHoteleria-reservations p {
        font-size: 1rem;
    }

    #modalHoteleria-reservations .sn-whatsapp {
        font-size: 1.8rem;
        /* Hacer un poco más pequeño el ícono */
    }
}

/* MEDIA QUERY PARA PANTALLAS MUY PEQUEÑAS (Móviles más pequeños) */
@media (max-width: 480px) {
    .modalHoteleria #modalHoteleria-reservations {
        font-size: 1rem;
        /* Reducir el tamaño de fuente aún más en pantallas pequeñas */
    }

    .modalHoteleria #modalHoteleria-reservations a, .modalHoteleria #modalHoteleria-reservations p {
        font-size: 0.9rem;
        /* Ajustar el tamaño de fuente */
    }

    #modalHoteleria-reservations .sn-whatsapp {
        font-size: 1.6rem;
        /* Reducir el ícono en pantallas aún más pequeñas */
    }
}

/* ============================================================================================= */
/* WEBSITES */
#modalHoteleria-website {
    color: var(--blue);
    font-size: var(--fontsize-medium);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    padding: 20px;
    background-color: transparent;
    display: inline-block;
}


#modalHoteleria-website:hover {
    color: var(--blue-dark);
}

#modalHoteleria-website .icon-link {
    color: var(--blue);
}

/* ============================================================================================= */
/* SOCIAL NETWORK */
#modalHoteleria-socialnetworks {
    font-size: var(--fontsize-standard);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
}

#modalHoteleria-socialnetworks .title {
    color: var(--primary);
    font-size: var(--fontsize-medium);
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

/* UL como grid flexible */
#modalHoteleria-socialnetworks ul {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1rem;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Centra cada ítem dentro del grid */
}

/* Hover: cambia color y sube ligeramente */
#modalHoteleria-socialnetworks ul li:hover {
    color: var(--black);
    transform: translateY(-2px);
}

/* Enlace con ícono */
#modalHoteleria-socialnetworks ul li a {
    max-width: 100px;
    padding: 8px 10px;
    text-align: center;
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.sn-facebook {
    color: #3b5998;
}

#modalHoteleria-socialnetworks ul li:hover .sn-facebook {
    text-shadow: 0 5px 10px rgba(59, 89, 152, 0.2);
}

.sn-tiktok {
    color: #000;
}

#modalHoteleria-socialnetworks ul li:hover .sn-tiktok {
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.sn-instagram {
    color: #E4405F;
}

#modalHoteleria-socialnetworks ul li:hover .sn-instagram {
    text-shadow: 0 5px 10px rgba(228, 64, 94, 0.2);
}

.sn-facebook, .sn-tiktok, .sn-instagram {
    font-size: 2.8rem;
}

@media (max-width: 600px) {
    #modalHoteleria-socialnetworks ul li a {
        grid-area: 2px;
    }

    .sn-facebook, .sn-tiktok, .sn-instagram {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    #modalHoteleria-socialnetworks ul {
        grid-template-columns: 1fr;
    }
}

/* ============================================================================================= */
/* SERVICES */
#modalHoteleria-services, #modalHoteleria-atractions {
    font-size: var(--fontsize-standard);
    border: 10px double var(--primary);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
}

/* Títulos centrados y adaptables */
#modalHoteleria-services .title, #modalHoteleria-atractions .title {
    font-weight: bold;
    font-size: var(--fontsize-medium);
    margin-bottom: 20px;
    color: var(--primary);
    text-align: center;
    word-wrap: break-word;
}

/* Estilos base para listas */
#modalHoteleria-services ul, #modalHoteleria-atractions ul {
    text-align: left;
    list-style-type: none;
    padding-left: 1.5em;
    margin-bottom: 12px;
}

#modalHoteleria-services ul li::marker, #modalHoteleria-atractions ul li::marker {
    content: "- ";
}

/* Asegura que las listas y sus elementos no se desborden */
#modalHoteleria-services ul li, #modalHoteleria-atractions ul li {
    line-height: 1.5;
    margin-bottom: 16px;
    color: var(--primary-dark);
    font-size: var(--fontsize-medium);
    word-wrap: break-word;
}

/* Responsive behavior for small screens */
@media (max-width: 600px) {
    #modalHoteleria-services, #modalHoteleria-atractions {
        padding: 0 20px;
        font-size: var(--fontsize-medium);
    }

    #modalHoteleria-services ul li, #modalHoteleria-atractions ul li {
        font-size: var(--fontsize-medium);
        margin-left: 0;
    }

    #modalHoteleria-services .title, #modalHoteleria-atractions .title {
        font-size: var(--fontsize-medium);
    }
}


/* ============================================================================================= */
/* LOCATION */
.modalHoteleria-location {
    font-size: var(--fontsize-medium);
    border: 10px double var(--primary);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 50px;
}

#location__title {
    font-weight: bold;
    font-size: var(--fontsize-medium);
    margin-bottom: 15px;
    color: var(--primary);
    text-align: center;
}

#location__address {
    font-size: var(--fontsize-medium);
    color: var(--primary-dark);
    font-style: italic;
}

@media (max-width: 720px) {
    #location__address {
        font-size: var(--fontsize-standard);
    }

}

/* ============================================================================================= */
/* IMAGES */
/* Estilos para las imágenes dentro del modal */
.modalHoteleria .modalHoteleria-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Imagen de las imágenes del modal */
.modalHoteleria .modalHoteleria-images img {
    width: 100%;
    max-width: 300px;
    aspect-ratio: 16 / 10;
    border-radius: 0px;
    object-fit: cover;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    height: auto;
    transition: filter 0.3s ease;
    /* Transición suave */
    filter: brightness(1);
}

/* Hover sobre las imágenes dentro del modal */
.modalHoteleria .modalHoteleria-images img:hover {
    filter: brightness(.9);
}

.modalHoteleria-image {
    height: 100vh;
    object-fit: contain;
}

@media (max-width: 720px) {
    .modalHoteleria .modalHoteleria-images img {
        max-width: 100%;
        aspect-ratio: 16 / 10;
        /* Permite que la imagen se ajuste sin distorsión */
        height: auto;
    }
}

.modalHoteleria .btn-map {
    display: block;
    width: fit-content;
    max-width: 90%;
    margin: 20px auto;
    padding: 15px 24px;
    border: 1px solid var(--primary);
    box-shadow: 0 6px 15px rgba(36, 49, 49, 0.8);
    border-radius: 10px;
    background-color: var(--primary);
    color: var(--secondary);
    text-decoration: none;
    font-size: var(--fontsize-medium);
    font-weight: 600;
    text-align: center;
    transition: all 0.3s ease;
}

.modalHoteleria a.btn-map:hover {
    box-shadow: 0 6px 15px rgba(36, 49, 49, 1);
}

/* Mejoras para móviles */
@media (max-width: 380px) {
    .modalHoteleria .btn-map {
        font-size: var(--fontsize-standard);
    }

}

/* ============================================================================================= */
/* Cerrar el modal */
.modalHoteleria .close {
    color: var(--primary);
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    z-index: 10;
    transition: all 0.3s;
}

/* ============================================================================================= */
/* Botón de cierre */
.modalHoteleria .close {
    color: var(--primary);
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    z-index: 10;
    transition: all 0.3s;
}

.modalHoteleria .close:hover,
.modalHoteleria .close:focus {
    color: var(--primary-dark);
    text-decoration: none;
}