.boxAtractivos {
    background: var(--white);
    padding: 60px 20px;
    text-align: center;
}

.boxAtractivos h3 {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

.boxAtractivos .cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    padding: 16px;
}

@media (max-width: 1024px) {
    .boxAtractivos .cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .boxAtractivos .cards-container {
        grid-template-columns: 1fr;
    }
}

.boxAtractivos .card {
    height: 254px;
    border-radius: .5rem;
    background: #f5f5f5;
    position: relative;
    margin: 1rem 0;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: hidden;
    cursor: pointer;
    background-size: cover;
    background-position: center;
}

.boxAtractivos .card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
    position: relative;
    z-index: 1;
}

.boxAtractivos .btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    border: 2px solid #007bff;
    background-color: #fff;
    color: #007bff;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.boxAtractivos .btn:hover {
    background-color: #007bff;
    color: #fff;
    transform: translateY(-3px);
    /* Efecto de elevación en hover */
}

.boxAtractivos .card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: var(--primary);
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
}

.boxAtractivos .text-body {
    color: rgb(230, 230, 230);
    position: relative;
    z-index: 1;
}

/*Text*/
.boxAtractivos .text-title {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--white);
    position: relative;
    z-index: 1;
}

/*Hover*/
.boxAtractivos .card:hover {
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.boxAtractivos .card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
}


/* Imagen de fondo con overlay oscuro */
.boxAtractivos .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)), url('../images/atractivos/plaza/images01.webp') center/cover no-repeat; */
    z-index: 0;
    transition: transform 0.5s ease-out;
    transform: scale(1.05);
}

/* Tarjeta 1 */
.boxAtractivos .card.card-1::before {
    background: linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)), url('../images/atractivos/plaza/image01.webp') center/cover no-repeat;
}

/* Tarjeta 2 */
.boxAtractivos .card.card-2::before {
    background: linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)), url('../images/atractivos/iglesia/image01.webp') center/cover no-repeat;
}

/* Tarjeta 3 */
.boxAtractivos .card.card-3::before {
    background: linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)), url('../images/atractivos/rio/image01.webp') center/cover no-repeat;
}

/* Tarjeta 4 */
.boxAtractivos .card.card-4::before {
    background: linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)), url('../images/atractivos/parque/image01.webp') center/cover no-repeat;
}

/* Tarjeta 5 */
.boxAtractivos .card.card-5::before {
    background: linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)), url('../images/atractivos/murales/jukumari/image01.webp') center/cover no-repeat;
}

/* Tarjeta 6 */
.boxAtractivos .card.card-6::before {
    background: linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)), url('../images/atractivos/mirador/image02.webp') center/cover no-repeat;
}

/* Tarjeta 7 */
.boxAtractivos .card.card-7::before {
    background: linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)), url('../images/atractivos/rutacafe/image01.webp') center/cover no-repeat;
}

/* Tarjeta 8 */
.boxAtractivos .card.card-8::before {
    background: linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)), url('../images/atractivos/artecampo/image01.webp') center/cover no-repeat;
}

/* Tarjeta 9 */
.boxAtractivos .card.card-9::before {
    background: linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)), url('../images/atractivos/queseria/image01.webp') center/cover no-repeat;
}

.boxAtractivos .card:hover::before {
    transform: scale(1);
}

/* Asegurar que el contenido esté sobre la imagen */
.boxAtractivos .card-details,
.boxAtractivos .card-button {
    position: relative;
    z-index: 1;
}

/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* Estilos para el Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: auto;
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    max-width: 1800px;
}


/* Animación para el modal */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Título del modal */
#modal-title {
    font-size: 24px;
    margin-bottom: 15px;
    margin-top: 20px;
}

#modal-description h3 {
    margin-bottom: 1.8rem;
    /* o el espacio que prefieras */
}

#modal-description p {
    font-size: 1.5rem;
    /* o el espacio que prefieras */
}

/* Descripción del modal */
#modal-description img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 5px;
}




/* Botón de cierre */
.close {
    color: #333;
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
    z-index: 10;
    transition: color 0.3s;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
}

/* Estilo para cuando el modal se muestra */
.modal.show {
    display: flex;
}

/* Estilos para las imágenes dentro del modal */
.modal-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal-image {
    width: 300px;
    height: 150px;
    object-fit: cover;
    /* border-radius: 8px; */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;

}

.modal-image:hover {
    /* transform: scale(1.05); */
    filter: brightness(0.6);
    /* 0.6 es más oscuro, puedes ajustar */
}



.modal .btn {
    display: block;
    /* Cambia a block para poder centrar con margin auto */
    width: 200px;
    margin: 20px auto 0 auto;
    /* Centrado horizontal y separación superior */
    padding: 12px 24px;
    border: 2px solid var(--tertiary);
    background-color: var(--tertiary);
    color: var(--white);
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    text-align: center;
    transition: all 0.3s ease;
}

.modal .btn:hover {
    background-color: var(--tertiary);
    color: #fff;
    transform: translateY(-3px);
}

.modal-footer {
    border: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.img-modal {
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}