.boxComoLlegar {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.boxComoLlegar h2 {
    font-size: 2.2rem;
    color: var(--dark);
    margin-bottom: 10px;
}

.boxComoLlegar .sub {
    font-size: 1.1rem;
    color: var(--dark);
    margin-bottom: 40px;
}

.boxComoLlegar .info-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-bottom: 35px;
}

.boxComoLlegar .info-card {
    background: var(--white);
    border: none;
    padding: 25px;
    width: 300px;
    border-radius: 16px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease;
}

.boxComoLlegar .info-card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 800px) {
    .boxComoLlegar .info-card {
        width: 300px;
        width: 250px;
        height: 150px;
    }
}

.boxComoLlegar .label {
    font-size: 1rem;
    color: var(--dark);
}

.boxComoLlegar .value {
    font-size: 1.6rem;
    color: var(--dark);

}

@media (max-width: 800px) {
    .boxComoLlegar .value {
        font-size: 1.4rem;
    }
}

.boxComoLlegar .precio-card .precio {
    font-size: 1.5rem;
    font-weight: bold;
}

.boxComoLlegar .precio-card .precio span {
    font-size: 3.2rem;
}

.boxComoLlegar .map-btn {
    display: block;
    width: 210px;
    height: 64px;
    margin: 20px auto 0 auto;
    padding: 12px 24px;
    border: 2px solid var(--tertiary);
    background-color: var(--tertiary);
    color: var(--white);
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    transition: all 0.3s ease;
}

.boxComoLlegar a {
    color: var(--white);
}

.boxComoLlegar a:hover, .boxComoLlegar a+i:hover {
    color: var(--white);
    background-color: var(--tertiary-dark);
}