@font-face {
    font-family: 'coffe';
    src: url(../fonts/CoffeCake.ttf) format("truetype"); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'water';
    src: url(../fonts/WaterLemon.ttf) format("truetype"); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barber';
    src: url(../fonts/BarberChop.otf) format("truetype"); 
    font-weight: normal;
    font-style: normal;
}