#linkHoteleria {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/hoteleria/hoteleria.webp');
    background-position: 50% 100%;
    /* Centrado horizontal y al final vertical */
    background-size: cover;
    /* Cubre toda el área sin distorsionar la imagen */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    background-attachment: fixed;
    /* La imagen permanece fija mientras haces scroll */

    position: relative;
    z-index: 1;
    padding: 50px 0;
    min-height: 95vh;
}

/* Overlay negro con transparencia */
#linkHoteleria::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: -1;
    /* Asegura que el overlay esté por debajo del contenido */
}


/* Estilo de la caja principal */
.boxHoteleria {
    position: relative;
    z-index: 2;
    background: var(--white);
    padding: 60px 20px;
    text-align: center;
}

/* Estilos del título */
.boxHoteleria h3 {
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 20px;
    color: var(--dark);
    position: relative;
    z-index: 3;
}

/* Estilos de los botones de filtro */
.filter-buttons {
    margin: 0 auto 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    max-width: 100%;
}

.filter-buttons button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 12px;
    outline: 1px solid var(--primary);
    background-color: var(--white);
    color: var(--primary);
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1rem;
}

.filter-buttons button:hover {
    outline: 1px solid var(--white);
    background-color: var(--primary);
    color: var(--white);
}

.filter-buttons button.active {
    background-color: var(--primary-dark);
    color: var(--white);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    animation: pulse 0.2s ease;
}

/* Animación de pulsado */
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/* Estilos de las cards */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1rem;
    justify-content: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1rem;
}

.card {
    position: relative;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 300px;
    transition: transform 0.6s ease, opacity 0.6s ease;
    overflow: hidden;
    width: 100%;
}

.card:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

/* Fondo específico por card */
.card.card-1 {
    background-image: url('../images/hoteleria/alejados/01/image01.webp');
}

.card.card-2 {
    background-image: url('../images/hoteleria/alejados/02/image04.webp');
}

.card.card-3 {
    background-image: url('../images/hoteleria/cerca/03/image01.webp');
}

.card.card-4 {
    background-image: url('../images/hoteleria/cerca/04/image03.webp');
}

.card.card-5 {
    background-image: url('../images/hoteleria/cerca/05/image01.webp');
}

.card.card-6 {
    background-image: url('../images/hoteleria/cerca/06/image02.webp');
}

.card.card-7 {
    background-image: url('../images/hoteleria/cerca/07/image02.webp');
}

.card.card-8 {
    background-image: url('../images/hoteleria/cabanas/08/image01.webp');
}

.card.card-9 {
    background-image: url('../images/hoteleria/cabanas//09/image01.webp');
}

.card.card-10 {
    background-image: url('../images/hoteleria/cabanas/10/image01.webp');
}

/* Estilos del overlay en las cards */
.card-overlay {
    background: rgba(0, 0, 0, 0.8);
    padding: 1rem;
    width: 100%;
    text-align: center;
    /* Centrado vertical y horizontal del contenido */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centra el contenido horizontalmente */
    justify-content: center;
    /* Centra el contenido verticalmente */
    height: 50%;
    position: absolute;
    top: 25%;
    /* Centrado verticalmente (50% - 25% = 25% arriba de la mitad) */
    transition: all 0.5s ease;
    cursor: pointer;
}

/* Efecto hover: ampliamos el overlay y cambiamos la opacidad */
.card:hover .card-overlay {
    background: rgba(0, 0, 0, 0.2);
    /* Oscurecer el fondo */
    height: 100%;
    top: 0;
    /* Expande el overlay para cubrir más área */
    transform: scale(1.05);
    /* Efecto de expansión */
}

.card:hover .card-overlay h4 {
    /* color: transparent; */
    font-size: 1.8rem;
    filter: blur(2px);
}

/* Estilo del título dentro de las cards */
.card h4 {
    margin: 0 0 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    /* Asegúrate de que el texto sea blanco para resaltar sobre el fondo oscuro */
}

/* Opcional: si quieres que los textos dentro del overlay tengan un espaciado más equilibrado, puedes añadir estos estilos */
.card-overlay p {
    font-size: 1rem;
    color: white;
    margin-top: 0.5rem;
}




/* Estilos de la sección de "Ver más" */
.boxHoteleria .btn-more {
    width: fit-content;
    display: block;
    margin: 20px auto 0 auto;
    padding: 12px 24px;
    border: none;
    background: transparent;
    color: inherit;
    font-size: 1.4rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    animation: slideDown 4s infinite ease-in-out;
    animation-play-state: running;
    /* Inicia la animación */
}

/* Animación de desplazamiento hacia abajo (de arriba a abajo) */
@keyframes slideDown {
    0% {
        transform: translateY(20px);
        opacity: 1;
    }

    50% {
        transform: translateY(-10px);
        opacity: .4;
    }

    100% {
        transform: translateY(20px);
        opacity: 1;
    }
}

/* Detener la animación al hacer hover */
.boxHoteleria .btn-more:hover {
    animation-play-state: paused;
    /* Detiene la animación */
}




/* Responsive ajustes */
@media (max-width: 768px) {
    .boxHoteleria {
        padding: 30px 15px;
    }

    .boxHoteleria h3 {
        font-size: 24px;
    }

    .card {
        height: 250px;
    }

    .filter-buttons button {
        font-size: 0.9rem;
        padding: 0.4rem 0.8rem;
    }
}

@media (max-width: 480px) {
    .card {
        height: 220px;
    }

    .filter-buttons {
        gap: 0.3rem;
    }

    .filter-buttons button {
        font-size: 0.85rem;
        padding: 0.35rem 0.7rem;
    }
}